// COLORS
$color-pink: #ff4081;
$color-teal: #1DE9B6;
$color-red: #D50000;
$color-green: #4CAF50;
// DARK THEME
$background-color-gray: #212121;
$background-color-gray-lighter: #424242;
$color-teal: #64FFDA;
// LIGHT THEME
$background-color-lightgray: #F5F5F5;
$background-color-white: #FFF;
$border-light-theme: 1px solid #EEEEEE;
// BORDERS
$border-radius-4: 4px;